In [1]:
import os

import pandas as pd

In [2]:
hotel_hourly_pwr_df = pd.read_csv("../data/resampled/ac_pwr_hourly.csv",
                                  usecols=["timestamp", "hotel"],
                                  index_col="timestamp",
                                  parse_dates=["timestamp"]
                                 )

display(hotel_hourly_pwr_df.head())

                         hotel
timestamp
2019-08-01 00:00:00  69.667207
2019-08-01 01:00:00  69.632524
2019-08-01 02:00:00  67.874325
2019-08-01 03:00:00  67.816213
2019-08-01 04:00:00  65.888407

## Creating lag and window features

In [3]:
hotel_hourly_pwr_df["shift_1"] = hotel_hourly_pwr_df[["hotel"]].shift(periods=1)
hotel_hourly_pwr_df["shift_2"] = hotel_hourly_pwr_df[["hotel"]].shift(periods=2)

hotel_hourly_pwr_df["rolling_1_mean"] = hotel_hourly_pwr_df[["hotel"]].rolling(window=1).mean()
hotel_hourly_pwr_df["rolling_2_mean"] = hotel_hourly_pwr_df[["hotel"]].rolling(window=2).mean()
hotel_hourly_pwr_df["rolling_3_mean"] = hotel_hourly_pwr_df[["hotel"]].rolling(window=3).mean()

hotel_hourly_pwr_df["rolling_2_min"] = hotel_hourly_pwr_df[["hotel"]].rolling(window=2).min()
hotel_hourly_pwr_df["rolling_2_max"] = hotel_hourly_pwr_df[["hotel"]].rolling(window=2).max()

display(hotel_hourly_pwr_df.head())

,hotel,shift_1,shift_2,rolling_1_mean,rolling_2_mean,rolling_3_mean,rolling_2_min,rolling_2_max
timestamp,,,,,,,,
2019-08-01 00:00:00,69.667207,NaN,NaN,69.667207,NaN,NaN,NaN,NaN
2019-08-01 01:00:00,69.632524,69.667207,NaN,69.632524,69.649865,NaN,69.632524,69.667207
2019-08-01 02:00:00,67.874325,69.632524,69.667207,67.874325,68.753424,69.058018,67.874325,69.632524
2019-08-01 03:00:00,67.816213,67.874325,69.632524,67.816213,67.845269,68.441021,67.816213,67.874325
2019-08-01 04:00:00,65.888407,67.816213,67.874325,65.888407,66.852310,67.192982,65.888407,67.816213

### Dumping the data in a CSV

In [4]:
os.makedirs("../data/feature_engineered/", exist_ok=True)

In [5]:
hotel_hourly_pwr_df.to_csv("../data/feature_engineered/hotel__hourly_shift_rolling.csv")